[Desktop Entry]
Version=1.0
Type=Application
Name=Audio
Comment=
Exec=bash -ic audiotoggle
Icon=audio-volume-muted
Path=
Terminal=false
StartupNotify=false
